{% extends 'twodos/base.html' %}
{% block content %}
<div class="container">
    <div class="card shadow mt-4">
        <div class="card-header bg-success text-dark">
            <i class="bi bi-cpu me-2"></i>Detalhes do Sensor Físico
        </div>
        <div class="card-body bg-dark">
            <dl class="row">
                <dt class="col-sm-3">Nome:</dt>
                <dd class="col-sm-9">{{ object.nome }}</dd>

                <dt class="col-sm-3">Sigla:</dt>
                <dd class="col-sm-9">{{ object.sigla }}</dd>

                <dt class="col-sm-3">Descrição:</dt>
                <dd class="col-sm-9">{{ object.descricao|default:"-" }}</dd>

                <dt class="col-sm-3">Tensão:</dt>
                <dd class="col-sm-9">{{ object.tensao_min }}V - {{ object.tensao_max }}V</dd>
            </dl>

            <div class="mt-4 d-flex justify-content-end">
                <a href="{% url 'sensor_fisico_list' %}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left me-2"></i>Voltar
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}